apiVersion: apps/v1
kind: Deployment
metadata:
  name: cluster-network-operator
  namespace: openshift-cluster-network-operator
  labels:
    k8s-app: cluster-network-operator
spec:
  selector:
    matchLabels:
      k8s-app: cluster-network-operator
  template:
    metadata:
      labels:
        k8s-app: cluster-network-operator
    spec:
      containers:
      - name: cluster-network-operator
        image: docker.io/openshift/origin-cluster-network-operator:v4.0.0
        command:
        - "/bin/cluster-network-operator"
        - "--url-only-kubeconfig=/etc/kubernetes/kubeconfig"
        resources:
          limits:
            cpu: 20m
            memory: 50Mi
          requests:
            cpu: 20m
            memory: 50Mi
        env:
        - name: NODE_IMAGE
          value: "docker.io/openshift/origin-node:v4.0.0"
        - name: HYPERSHIFT_IMAGE
          value: "docker.io/openshift/origin-hypershift:v4.0.0"
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        volumeMounts:
        - mountPath: /etc/kubernetes/kubeconfig
          name: host-kubeconfig
          readOnly: true
      hostNetwork: true
      nodeSelector:
        node-role.kubernetes.io/master: ""
      volumes:
        - name: host-kubeconfig
          hostPath:
            path: /etc/kubernetes/kubeconfig
      restartPolicy: Always
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
      tolerations:
      - key: "node-role.kubernetes.io/master"
        operator: Exists
        effect: NoSchedule
      - key: "node.kubernetes.io/not-ready"
        operator: Exists
        effect: NoSchedule
