apiVersion: apps/v1
kind: Deployment
metadata:
  name: network-operator
  namespace: openshift-network-operator
  labels:
    name: network-operator
  annotations:
    config.openshift.io/inject-proxy: network-operator
spec:
  selector:
    matchLabels:
      name: network-operator
  template:
    metadata:
      labels:
        name: network-operator
    spec:
      containers:
      - name: network-operator
        image: quay.io/openshift/origin-cluster-network-operator:4.2
        command:
        - "/usr/bin/cluster-network-operator"
        - "--url-only-kubeconfig=/etc/kubernetes/kubeconfig"
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
        env:
        - name: RELEASE_VERSION
          value: "0.0.1-snapshot"
        - name: NODE_IMAGE
          value: "quay.io/openshift/origin-node:4.2"
        - name: SDN_CONTROLLER_IMAGE
          value: "quay.io/openshift/origin-sdn-controller:4.2"
        - name: KUBE_PROXY_IMAGE
          value: "quay.io/openshift/origin-kube-proxy:4.2"
        - name: MULTUS_IMAGE
          value: "quay.io/openshift/origin-multus-cni:4.2"
        - name: MULTUS_ADMISSION_CONTROLLER_IMAGE
          value: "quay.io/openshift/origin-multus-admission-controller:4.2"
        - name: CNI_PLUGINS_IMAGE
          value: "quay.io/openshift/origin-container-networking-plugins:4.2"
        - name: OVN_IMAGE
          value: "quay.io/openshift/origin-ovn-kubernetes:4.2"
        - name: KURYR_DAEMON_IMAGE
          value: "quay.io/openshift/origin-kuryr-cni:4.2"
        - name: KURYR_CONTROLLER_IMAGE
          value: "quay.io/openshift/origin-kuryr-controller:4.2"
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        terminationMessagePolicy: FallbackToLogsOnError
        volumeMounts:
        - mountPath: /etc/kubernetes/kubeconfig
          name: host-kubeconfig
          readOnly: true
      hostNetwork: true
      nodeSelector:
        node-role.kubernetes.io/master: ""
      priorityClassName: "system-cluster-critical"
      volumes:
        - name: host-kubeconfig
          hostPath:
            path: /etc/kubernetes/kubeconfig
      restartPolicy: Always
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
      tolerations:
      - key: "node-role.kubernetes.io/master"
        operator: Exists
        effect: NoSchedule
      - key: "node.kubernetes.io/not-ready"
        operator: Exists
        effect: NoSchedule
      - key: node.kubernetes.io/network-unavailable
        operator: Exists
        effect: NoSchedule
